/* Blank it */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body>div {
  padding: 2rem;
}

/* Box shadows */
.about-box,
.card {
  /* border: 1px black solid; */
  box-shadow: 1px 1px 5px 2px lightgray;
}

/* About section */
.about {
  display: flex;
}

.about-box {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Works section */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
}

.card {
  width: min-content;
}

/* Footer */
.contact {
  background-color: lightblue;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}